body {
  background: rgb(31, 46, 131);
}

.images-home {
  background: url('asset/PNG/candy-home.png') no-repeat center -200px;
  background-size: cover;
  margin-top: 20px;
  background-position: 0 0;
  width: 820px;
  height: 460px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border:  rgb(87, 87, 110) ridge 10px;
  position: fixed;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
}

.images-home h1 {
  font-size: 85px;
  color: rgb(14, 48, 77);
}

.images-home p {
font-size: 20px;
color: rgb(255, 246, 253);
}

main .button_1 {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 70, 180);
margin: auto;
height:54px;
width: 169px;
cursor: pointer;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
border:rgb(235, 70, 180) outset 5px;
text-decoration: none;
color: rgb(247, 244, 245);
}

.button_1 {
  align-items: center;
}

.images-home img {
  position: absolute;
  margin-left: 100px;
}

main .img1 {
  position: absolute;
  margin-left: 350px;
  height: 100px;
}



main .zombie {
  margin-top: 270px;
 margin-left: 570px;
 position: fixed;
}

main .zombie1 {
 position: fixed;
 margin-top: 170px;
 width: 200px;
 z-index: 2;
}

